<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="public/fragments/head-elements :: headElements"></head>
<title>Student Management System - Students</title>
</head>
<body>
    <div th:replace="public/fragments/header :: header"></div>
    <div id="mainContainer" class="container">
        <h3>Edit Student</h3>
        <hr/>
        <div style="font-size: 1em">
            <div><span><b>Note:</b> Form fields marked with asterisk (*) are required.</span></div>
            <!-- edit publisher form-->
            <form id="studentForm" method="post" action="/eregistrar/student/update" th:object="${student}">
                <fieldset>
                    <!--                    <legend>New Publisher Form</legend>-->
                    <div class="container" style="margin-top: 1em;">
                        <div class="row" style="padding-top: .75em;">
                             <input type="hidden" name="studentId" th:value="${student.studentId}" />

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="studentNumber">*Student Number:</label>
                                    <span th:if="${#fields.hasErrors('studentNumber')}" th:errors="*{studentNumber}"
                                          class="alert alert-danger"></span>
                                          <input id="studentNumber" name="studentNumber" type="text" class="form-control"
                                          th:value="${student.studentNumber}" autofocus>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="padding-top: .75em;">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="firstName">*First Name:</label>
                                    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                                          class="alert alert-danger"></span>
                                          <input id="firstName" name="firstName" type="text" class="form-control"
                                          th:value="${student.firstName}" autofocus>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="middleName">*Middle name:</label>
                                      <!-- <span th:if="${#fields.hasErrors('studentNumber')}" th:errors="*{studentNumber}"
                                          class="alert alert-danger"></span> -->
                                          <input id="middleName" name="middleName" type="text" class="form-control"
                                          th:value="${student.middleName}" autofocus required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="lastName">*Last Name:</label>
                                    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                                          class="alert alert-danger"></span>
                                          <input id="lastName" name="lastName" type="text" class="form-control"
                                          th:value="${student.lastName}" autofocus>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="padding-top: .75em;">
                            <!-- <input type="hidden" name="studentId" th:value="${studentId}" /> -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="cgpa">*CGPA:</label>
                                    <span th:if="${#fields.hasErrors('cgpa')}" th:errors="*{cgpa}"
                                          class="alert alert-danger"></span>
                                          <input id="cgpa" name="cgpa" type="text" class="form-control"
                                          th:value="${student.cgpa}" autofocus>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="dateOfEnrollment">*Date of Enrollement:</label>
                                    <span th:if="${#fields.hasErrors('dateOfEnrollment')}" th:errors="*{dateOfEnrollment}"
                                          class="alert alert-danger"></span>
                                          <input id="dateOfEnrollment" name="dateOfEnrollment" type="date" class="form-control"
                                          th:value="${student.dateOfEnrollment}" autofocus>
                                </div>
                            </div>
                        </div>
                            
                        <div style="padding-top: .75em;">
                            <div>
                                <div style="float:right;">
                                    <button id="btnReset" type="reset" class="btn btn-outline-info" style="margin-right: 2em;">Reset</button>
                                    <a href="/eregistrar/student/list" class="btn btn-outline-warning" style="margin-right: 2em;">Cancel</a>
                                    <button id="btnSubmit" type="submit" class="btn btn-outline-primary">Update Student</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <div th:replace="public/fragments/footer :: footer"></div>
</body>
</html>